pkgbase = bettbox-bin
	pkgver = 1.18.9
	pkgrel = 1
	pkgdesc = 基于 Mihomo（Clash.Meta 内核）的多平台代理客户端
	arch = x86_64
	arch = aarch64
	url = https://github.com/appshubcc/Bettbox
	license = GPL-3.0-or-later
	depend = gtk3
	depend = libayatana-appindicator
	depend = libkeybinder3
	option = !strip
	option = !debug
	source = restart-bettbox.hook
	source_x86_64 = https://github.com/appshubcc/Bettbox/releases/download/v1.18.9/Bettbox-1.18.9-linux-amd64.deb
	source_aarch64 = https://github.com/appshubcc/Bettbox/releases/download/v1.18.9/Bettbox-1.18.9-linux-arm64.deb
	sha256sums = 9d8b0a54499c9325ed64d987184a229af75c34600ca28afd016dff43ebb53cd0
	sha256sums_x86_64 = 2513e458662ebb67438da8df57a078b1f3d5f04b68143aff4cab8e7cb9bf9cfd
	sha256sums_aarch64 = 9a49d3bff8d25b52905bf622f07482bc8302823ef5efa18965eb0140b54a2369

pkgname = bettbox-bin
